<?xml version="1.0" encoding="UTF-8"?>
 <web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="demofirst-1245" version="3.0">
 
 
<servlet>
		<servlet-name>jersey-serlvet</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
		     <param-name>com.sun.jersey.config.property.packages</param-name>
		     <param-value>main.java</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>jersey-serlvet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

 <servlet>
    <description></description>
    <display-name>Servlet123</display-name>
    <servlet-name>Servlet123</servlet-name>
    <servlet-class>main.java.PackageTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet123</servlet-name>
    <url-pattern>/try</url-pattern>
  </servlet-mapping>
	
	<servlet>
		<servlet-name>Output</servlet-name>
		<servlet-class>main.java.Output</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Output</servlet-name>
		<url-pattern>/output</url-pattern>
	</servlet-mapping>
	
	<servlet>
    <description></description>
    <display-name>RestServlet</display-name>
    <servlet-name>RestServlet</servlet-name>
    <servlet-class>main.java.RestCall</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestServlet</servlet-name>
    <url-pattern>/request</url-pattern>
  </servlet-mapping>
	
	
	
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>main.java.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>